<h1><a href="/">nightly.link</a></h1>
<h2><%= HTML.escape(title[0]) %></h2>
<h3><%= HTML.escape(title[1]) %></h3>
<% messages.each do |message| %>
  <p class="absent"><%= HTML.escape(message.not_nil!) %></p>
<% end %>
<p>Choose one of the artifacts:</p>
<table>
  <% links.each do |link| %>
    <tr><th><a rel="nofollow" href="<%= HTML.escape(link.url) %>"><%= HTML.escape(link.title) %></a></th>
    <td><a rel="nofollow" href="<%= HTML.escape(link.url ".zip") %>"><%= HTML.escape(link.url ".zip") %></a></td></tr>
  <% end %>
</table>
