<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/github-markdown.min.css?4.0.0">
<link rel="icon" href="/logo.svg" type="image/svg+xml">
<link rel="canonical" href="<%= canonical %>">
<style>
  .markdown-body {
      box-sizing: border-box;
      min-width: 200px;
      max-width: 980px;
      margin: 0 auto;
      padding: 45px;
  }

  @media (max-width: 767px) {
      .markdown-body {
          padding: 15px;
      }
  }
</style>
<article class="markdown-body">
